<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webplus.jiangchao.iridescence">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.webplus.jiangchao.iridescence.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.webplus.jiangchao.iridescence.CourseListActivity" />
        <activity android:name="com.webplus.jiangchao.iridescence.HomeworkListActivity" />
        <activity android:name="com.webplus.jiangchao.iridescence.NoteBookActivity" />
        <activity android:name="com.webplus.jiangchao.iridescence.AddOrUpdateCourseActivity" />
        <activity android:name="com.webplus.jiangchao.iridescence.AddOrUpdateAssignmentActivity" />
        <activity android:name="com.webplus.jiangchao.iridescence.AddOrUpdateNotebookActivity" />
        <activity android:name="com.webplus.jiangchao.iridescence.TimerActivity" />
        <activity android:name="com.webplus.jiangchao.iridescence.CourseViewActivity"></activity>
    </application>

</manifest>